<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duan1.nhom4.wallpaper">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".uis.activities.HomeDetailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".uis.activities.SignUpActivity" />
        <activity android:name=".uis.activities.SignInActivity" />
        <activity android:name=".uis.activities.HomeActivity" />
        <activity android:name=".uis.activities.MainActivity" />
        <activity android:name=".uis.activities.CollectionActivity" />
        <activity android:name=".uis.activities.SubjectActivity" />
        <activity android:name=".uis.activities.SubjectDetailActivity" />
        <activity android:name=".uis.activities.FavoriteActivity" />
        <activity android:name=".uis.activities.FavoriteDetailActivity" />
        <activity android:name=".uis.activities.DownloadActivity" />
        <activity android:name=".uis.activities.DownloadDetailActivity" />
        <activity android:name=".uis.activities.SearchActivity" />
        <activity android:name=".uis.activities.NotificationActivity"></activity>

    </application>

</manifest>